.report_container {
  -fx-background-color: linear-gradient(to bottom, #F1F1F1, #2C5364);
  -fx-background-radius: 10;
  -fx-alignment: center;
  -fx-spacing: 10;
  -fx-padding: 10 0 10 0;
}

.report_container Text {
  -fx-font-weight: bold;
  -fx-fill: #132A13;
}

.report_container Label {
  -fx-text-alignment: center;
  -fx-wrap-text: true;
}

.report_container Text {
    -fx-fill: #132A13;
    -fx-font-size: 1.4em;
    -fx-font-family: "Poppins", sans-serif;
}

.accounts_view_container VBox Text {
    -fx-font-size: 1.2em;
}




.report_container Button {
  -fx-pref-width: 80;
  -fx-background-color: linear-gradient(to bottom, #2C5364, #203A43);
  -fx-text-fill: #FFFFFF;
  -fx-font-size: 1.1em;
  -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 10, 0, 0, 6);
  -fx-transition: all 0.2s ease-in-out;
}

.report_container Button:hover {
  -fx-background-color: linear-gradient(to bottom, #203A43, #2C5364);
  -fx-cursor: hand;
  -fx-scale-x: 1.1;
  -fx-scale-y: 1.1;
}

.report_container ToggleButton {

    -fx-border-width: 2;
    -fx-border-color: #2C5364;
    -fx-border-radius: 50px;
    -fx-padding: 5;
    -fx-text-fill: #2C5364;
}

.report_container ToggleButton:selected {
    -fx-background-color: #2C5364;
    -fx-border-color: #2C5364;
    -fx-text-fill: #FFFFFF;
}
