/*@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');*/

/* General styles */
* {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

/* Overarching container for everything in the closed system menu */
.main_menu_container {
  -fx-background-color: linear-gradient(to bottom, #2C5364, #203A43);
  -fx-alignment: center;
  -fx-padding: 0 10 0 10;
}

.left_container {
  -fx-background-color: linear-gradient(to bottom, #FFFFFF, #F1F1F1);
  -fx-background-radius: 10;
  -fx-effect: dropshadow(two-pass-box, rgba(0, 0, 0, 0.2), 10, 0, 0, 6);
}

/* Title and Logo section */
.title_container {
  -fx-background-color: linear-gradient(to bottom, #FFFFFF, #F1F1F1);
  -fx-background-radius: 20 20 0 0;
  -fx-alignment: top_center;
  -fx-padding: 10;
}

.title_container FontAwesomeIconView {
  -fx-fill: #132A13;
}

.title_container Text {
  -fx-fill: #132A13;
  -fx-font-size: 2em;
  -fx-font-weight: 500;
}

/* Navigation section */
.menu_container {
  -fx-padding: 10 10 10 20;
  -fx-spacing: 20;
}

.menu_container Button {
  -fx-pref-width: 115;
  -fx-pref-height: 40;
  -fx-background-color: linear-gradient(to bottom, #FFFFFF, #F1F1F1);
  -fx-text-fill: #132A13;
  -fx-font-size: 1.1em;
  -fx-alignment: center_left;
  -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 10, 0, 0, 6);
  -fx-transition: all 0.2s ease-in-out;
}

.menu_container Button:hover {
  -fx-background-color: linear-gradient(to bottom, #F1F1F1, #2C5364);
  -fx-cursor: hand;
  -fx-scale-x: 1.1;
  -fx-scale-y: 1.1;
}

.menu_container Button FontAwesomeIconView {
  -fx-fill: #132A13;
}


.alt_menu_btn {
  -fx-pref-width: 115;
  -fx-pref-height: 40;
  -fx-background-color: linear-gradient(to bottom, #2C5364, #203A43);
  -fx-text-fill: #FFFFFF;
  -fx-font-size: 1.1em;
  -fx-alignment: center_left;
}

.alt_menu_btn FontAwesomeIconView {
  -fx-fill: #FFFFFF;
}

/* Report bug or add suggestion section */
.report_container {
  -fx-background-color: linear-gradient(to bottom, #F1F1F1, #2C5364);
  -fx-background-radius: 10;
  -fx-alignment: center;
  -fx-spacing: 10;
  -fx-padding: 10 0 10 0;
}

.report_container Text {
  -fx-font-weight: bold;
  -fx-fill: #132A13;
}

.report_container Label {
  -fx-text-alignment: center;
  -fx-wrap-text: true;
}

.report_container Button {
  -fx-pref-width: 80;
  -fx-background-color: linear-gradient(to bottom, #2C5364, #203A43);
  -fx-text-fill: #FFFFFF;
  -fx-font-size: 1.1em;
  -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 10, 0, 0, 6);
  -fx-transition: all 0.2s ease-in-out;
}

.report_container Button:hover {
  -fx-background-color: linear-gradient(to bottom, #203A43, #2C5364);
  -fx-cursor: hand;
  -fx-scale-x: 1.1;
  -fx-scale-y: 1.1;
}
