/*@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');*/

.cell_container {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(three-pass-box, #000000, 5, 0, 0, 7);
}

.report_icon_container {
    -fx-background-color: #FFFFFF;
    -fx-alignment: center;
    -fx-spacing: 5;
}

.report_date_label {
    -fx-text-fill: #AAAAAA;
    -fx-font-weight: 700;
    -fx-font-family: "Poppins", sans-serif;
}

.report_username_label {
    -fx-text-fill: #000000;
    -fx-font-weight: 700;
    -fx-font-family: "Poppins", sans-serif;
}

.cell_container Line {
    -fx-stroke: #EEEEEE;
}

.report_amount_label {
    -fx-background-color: #2C5364;
    -fx-background-radius: 2;
    -fx-text-fill: #FFFFFF;
    -fx-padding: 5;
    -fx-font-weight: 700;
    -fx-font-family: "Poppins", sans-serif;
}

.report_icon_container Line {
    -fx-stroke: #2C5364;
}
