/*@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');*/

.cell_container {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(three-pass-box, #000000, 5, 0, 0, 7);
    -fx-padding: 10px;
}

.cell_container Button {
  -fx-background-color: linear-gradient(to bottom, #2C5364, #203A43);
  -fx-text-fill: #FFFFFF;
  -fx-font-size: 1.1em;
  -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 10, 0, 0, 6);
  -fx-transition: all 0.2s ease-in-out;
}

.cell_container Button:hover {
  -fx-background-color: linear-gradient(to bottom, #203A43, #2C5364);
  -fx-cursor: hand;
  -fx-scale-x: 1.1;
  -fx-scale-y: 1.1;
}

.report_icon_container {
    -fx-background-color: #FFFFFF;
    -fx-alignment: center;
    -fx-spacing: 5;
}

.report_date_label {
    -fx-text-fill: #AAAAAA;
    -fx-font-weight: 700;
    -fx-font-family: "Poppins", sans-serif;
}

.report_username_label {
    -fx-text-fill: #000000;
    -fx-font-weight: 700;
    -fx-font-family: "Poppins", sans-serif;
}

.cell_container Line {
    -fx-stroke: #EEEEEE;
}

.report_amount_label {
    -fx-background-color: #2C5364;
    -fx-background-radius: 2;
    -fx-text-fill: #FFFFFF;
    -fx-padding: 5;
    -fx-font-weight: 700;
    -fx-font-family: "Poppins", sans-serif;
}

.report_icon_container Line {
    -fx-stroke: #2C5364;
}

.delete_button{
    -fx-background-image: url("/Images/trashIcon.png");
    -fx-background-size: cover;
}
