

.viewReports_container {
    -fx-background-color: #F7F7F7;
}

.viewReports_container {
    -fx-fill: #000000;
    -fx-font-size: 2.5em;
    -fx-font-family: "Poppins", sans-serif;
}

.viewReports_container .list-view {
    -fx-background-color: #F7F7F7;
    -fx-padding: 10;
}

.viewReports_container .list-cell {
    -fx-background-color: #F7F7F7;
    -fx-pref-width: 800;
}